<div class="t_area_out ">
<h1>商家账户</h1>
<div class="t_area_in">
累计销售额： <font style="font-weight:bold;font-size:2em;color:#f76120;">{$money}</font><br>
总结算金额： <font style="font-weight:bold;font-size:2em;color:#f76120;">{$total_money}</font><br>
可结算金额： <font style="font-weight:bold;font-size:2em;color:#f76120;">{$account_money}</font><br>
<!--{if $forbid_money > 0}-->
被冻结资金： <font style="font-weight:bold;font-size:2em;color:#666666;">{$forbid_money}</font><br>
<!--{/if}-->
</div>
</div>
<div class="t_area_out ">
<h1>常见问题</h1>
<div class="t_area_in">
<h3 class="first">什么是可结算金额？</h3>
<p>可结算金额即商家可结算资金。已卖出的产品，用户消费后，去掉网站佣金后的金额。</p>
<h3>什么是冻结资金？</h3>
<p>已经申请了结算，但没有结算完毕的资金。</p>
</div>
</div>
</div>