/**/
.exp .at_shuzi .R,.exp .quan .ql span,.exp .at_shuzi .red,.exp .mb_0626 b,.exp .sp_member{color: #08c;}
.exp .site-mast__site-cla-main,.exp .pop-panel,.exp .pp_channels .sub-list{border-color:#ff8400;}
.exp .landb-now,.exp .product_list .gotosee,.exp .bp,.exp .site-fs__cell .selected{background: #08c;}
.exp .rating-area .total-score span,.exp .deal-buy-bottom .price,.exp .product_list .price,.exp .time_normal .time_underway,.exp .listInfo p i,.exp .listInfo p .pro_noprice,.exp .site-fs__sort-s a:hover,.exp .site-fs__sort-s .selected,.exp .consult_list .reply,.exp .P_disa{color: #ff6900;}
.exp .List .item .deal-tile__detail .price{color: #ee5238;}
.exp .deal_g .gotosee,.exp .gtsee{background-color: #ff8400;border: 1px solid #ff8400;border-bottom: solid 1px #c66600;font-family: "Microsoft YaHei",\9ed1\4f53;}

.countdown_goods .deal-tile__title dl dt a{background-color: #ff8400;border: 1px solid #ff8400;border-bottom: solid 1px #c66600;}
.countdown_goods .deal-tile__title dl dd,.trailer-img-txt .mr{color:#f76120}

.name-cur {
border-color: #eb4800;
}