<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">| 总部 |</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">营业时间：09:00-18:00（周一到周日）</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">旅游热线: &nbsp;0754 - 86508008</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">地址：汕头市长平路100号汇泉大厦6楼</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;"><br />
</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">| 长平桂园店 |</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">营业时间：09:00-22:00（周一到周日）</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">旅游热线: &nbsp;0754 - 88538088</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">地址：汕头市长平路桂园28栋103铺面（长平前卫剪烫对面）</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;"><br />
</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">| 尚海阳光店 |</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">营业时间：09:00-18:00（周一到周日）</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">旅游热线: &nbsp;0754 - 87298822</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">地址：汕头市韩江路尚海阳光23栋103铺面</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;"><br />
</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">| 黄河衡山店 |</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">营业时间：09:00-18:00（周一到周日）</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">旅游热线: &nbsp;0754 - 88786777</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">地址：汕头市衡山路世贸花园西侧铺面</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;"><br />
</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">| 龙眼海洋店 |</span></span></p>
<p><span style="font-size:14px;line-height:19.09090805053711px;">旅游热线: &nbsp;0754 - 88629899</span></p>
<p></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">地址：汕头市龙眼路海洋集团北侧铺面</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;"><br />
</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">| 澄海溪南店 |</span></span></p>
<p><span style="font-size:14px;line-height:19.09090805053711px;">旅游热线: &nbsp;0754 - 85753066</span></p>
<p></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">地址：汕头市澄海区溪南金溪路32号</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;"><br />
</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">| 澄海佳程店 |</span></span></p>
<p><span style="font-size:14px;line-height:19.09090805053711px;">旅游热线: &nbsp;0754 - 85635288</span></p>
<p></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;">地址：汕头市澄海区324国道文冠路口</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;"><br />
</span></span></p>
<span style="font-size:14px;"> </span><p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;font-size:14px;"><br />
</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;"><br />
</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;"><br />
</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;"><br />
</span></span></p>
<p><span style="font-size:x-small;"><span style="line-height:19.09090805053711px;"><br />
</span></span></p>